.technologies-div {
   margin: 0 2rem;
  }
  
  /* .icon-button i {
    color: white;
  } */
  .icon-button {
    padding: 0.5rem;
  }
  
  .technologies-div {
    .icon-button i {
    margin: 0.8rem;
    cursor: default;
    font-size: 3.5rem;
    height: 4rem;
    width: 4rem;
  }

  .fa-html5{
    color: #E34F26;
  }
  .fa-css3-alt{
    color: #1572B6;
  }
  .fa-js{
    color: #F7DF1E;
  }
  .fa-react{
    color: #61DAFB;
  }
  .fa-angular{
    color: #DD0031;
  }
  .fa-bootstrap{
    color: #7952B3;
  }
  .fa-java{
    color: #007396;
  }
  .fa-python{
    color: #FFD43B;
  }
  .fa-node{
    color: #339933;
  }
  .fa-npm{
    color: #CB3837;
  }
  .fa-git{
    color: #F05032;
  }
  .fa-figma{
    color: #0ACF83;
  }
  .fa-linux{
    color: #339933;
  }
  .fa-aws{
    color: #CB3837;
  }
  .fa-slack{
    color: #F05032;
  }
  .fa-confluence{
    color: #0ACF83;
  }

  .icon-button i:hover {
    background-color: transparent;
  }

  .icon-button:hover {
    background-color: transparent;
  }
  .technologies-div {
    background-color: transparent;
  }
}
  
  /* Media Query */
  @media (max-width: 768px) {
    .social-media-div {
      text-align: center;
    }
  }
  