/* .repo-card-div {
  background-image: url(../../assests/images/mealWebsiteImg.png);
  filter: blur(1px);
  color: rgb(88, 96, 105);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 2rem;
  cursor: pointer;
  height: 15rem;
  width: 24rem;
  flex: 1 1 25%;
} */

.repo-card-div {
  position: relative;
  color: rgb(88, 96, 105);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
  padding: 1rem;
  height: 15rem;
  width: 24rem;
  flex: 1 1 25%;
  overflow: hidden; /* Ensure content doesn't overflow */

  .react-reveal {
    height: 12rem;
  }
}

.repo-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: url(../../assests/images/mealWebsiteImg.png); */
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: -1;
}

.repo-background:hover {
  filter: blur(0px);
}

.repo-card-div:hover {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px -10px;
}

.demo-btn {
  width: 100%;
  justify-content: end;
  cursor: pointer;
  a {
    font-size: 12px;
  }
}

.repo-stats {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(106, 115, 125);
}

.repo-left-stat {
  -webkit-box-flex: 1;
  flex-grow: 1;
  display: flex;
}

.language-color {
  width: 10px;
  height: 10px;
  background-color: blue;
  margin-right: 0.25rem;
  border-radius: 100%;
}

.repo-left-stat span {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-right: 0.75rem;
}

.repo-name-div {
  display: flex;
  align-items: center;
  width: 18rem;
  height: auto;
  position: relative;
  z-index: 1;
}

.repo-svg {
  margin-right: 0.5rem;
  min-width: 16px;
}

.repo-name {
  text-align: left;
  color: rgb(36, 41, 46) !important;
  font-family: "Google Sans Regular";
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 2px;
  overflow: hidden;
  margin: 0;
  cursor: pointer;
}

.repo-name:hover {
  text-decoration: underline;
}

.repo-star-svg {
  margin-right: 0.3rem;
}

.repo-description {
  width: 18rem;
  letter-spacing: 0.2rem;
  text-align: left;
  font-weight: bolder;
  font-family: "Google Sans Regular";
  position: relative;
  z-index: 1;
  margin: 0;
}

.repo-details {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
}

.repo-creation-date {
  margin: 0;
  font-family: "Google Sans Regular";
  font-weight: 400;
  margin-left: 0px;
  margin-right: auto;
}

.repo-languages {
  margin-left: auto;
  margin-right: 0px;
}

@media (max-width: 1200px) {
  .repo-card-div {
    flex: 1 1 40%;
  }
}

@media (max-width: 768px) {
  .repo-card-div {
    flex: 1 1 100%;
  }

  .repo-name {
    font-size: 16px;
  }

  .repo-description {
    font-size: 14px;
  }

  .repo-details {
    flex-direction: column;
  }

  .repo-creation-date {
    font-size: 14px;
  }
}
