.volunteer-desc-sec {
  width: 60%;
}

.vol-container {
  /* display: flex; */
}

.volunteer-img-sec {
  width: 40%;
}

.volenter-list-item {
  display: flex;
  margin: 0 6rem;
  font-family: cursive;
}

.volenter-card-title {
  margin: 0;
}

.volenter-location {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}
