.footer-text {
  text-align: center;
  /* color: #868e96; */
  font-weight: bold;
  font-family: "Google Sans Regular";
}

.footer-div {
  margin-top: 10rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f4ecec; /* Adjust as needed */
  color: white; /* Text color */
  text-align: center;
  z-index: 1000;
}
