.experience-accord {
  margin: 5rem 6rem;
}

.accord-panel {
  font-family: "Google Sans Regular";
}

@media (max-width: 768px) {
  .workExp-img {
    display: none;
  }
  .experience-accord {
    margin: 3rem;
  }
}
